<%= render "shared/header" %>
<div class="main">
  <div class="app-explanation">
    <div class="concept">
    <h1 class="concept-message">誰かに夢を応援してもえる、誰かの夢を応援できるアプリ</h1>
    </div>
    <div class="contents">
      <div class="conceptcontent">
        <%= image_tag "コミュニケーションアイコン3.png", class: "concept-icon" %> 
        <p class ="conceptmessage">自分の夢を思い描こう</p>
      </div>
      <div class="conceptcontent">
        <%= image_tag "icon_121140_256.png", class: "concept-icon" %> 
        <p class ="conceptmessage">SNSで獲得したファンに支援してもらおう</p>
      </div>
      <div class="conceptcontent">
        <%= image_tag "人生オワタのピクトグラム.png", class: "concept-icon" %> 
        <p class ="conceptmessage">集めた資金で夢を叶えよう</p>
      </div>
    </div>
    <div class="messagecontent">
     <h1 class="message">さぁ、あなたの夢を叶えに行こう</h1>
    </div>
  </div>
  <div class="others-dreams">
    <div class="concept">
    <h1 class="concept-message">他の人の夢を見る</h1>
    </div>
    <div class="others-dreams-content">
      <%if @other_dreams.present?%>
        <%@other_dreams.each do |other_dream|%>
          <div class=others-dream>
            <%= link_to dream_path(other_dream.user_id), id:"contents" do%>
              <%=image_tag other_dream.image, class:"user-icon"%>
              <h1 class="user-contents" ><%=other_dream.name%></h1>
              <h1 class="user-contents">「<%= other_dream.mission%>」</h1>
            <%end%>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
<%= render "shared/footer" %>