<%= render "shared/header" %>
<div class="main">
  <div class="app-explanation">
    <div class="concept">
    <h1 class="concept-message">SNSの中継地点となるアプリ</h1>
    </div>
    <div class="contents">
      <div class="conceptcontent">
        <%= image_tag "コミュニケーションアイコン3.png", class: "concept-icon" %> 
        <p class ="conceptmessage">SNSでファンを獲得しよう</p>
      </div>
      <div class="conceptcontent">
        <%= image_tag "icon_121140_256.png", class: "concept-icon" %> 
        <p class ="conceptmessage">様々なSNSでファンと繋がろう</p>
      </div>
      <div class="conceptcontent">
        <%= image_tag "wowata.png", class: "concept-icon" %> 
        <p class ="conceptmessage">ファンとより強固な関係を築こう</p>
      </div>
    </div>
    <div class="messagecontent">
     <h1 class="message">さぁ、ファンと繋がろう</h1>
    </div>
  </div>
  <div class="others-dreams">
    <div class="concept">
    <h1 class="concept-message">他の人を見る</h1>
    </div>
    <div class="others-dreams-content">
      <%if @other_dreams.present?%>
        <%@other_dreams.each do |other_dream|%>
          <div class=others-dream>
            <%= link_to dream_path(other_dream.user_id), id:"contents" do%>
            <%if other_dream.image.present?%>
              <%=image_tag other_dream.image, class:"user-icon"%>
            <%else%>
              <%=image_tag "gal_o_man.png", class:"user-icon"%>
            <%end%>
              <h1 class="user-contents" ><%=other_dream.user_name%></h1>
              <h1 class="user-contents">「<%= other_dream.mission%>」</h1>
            <%end%>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
<%= render "shared/footer" %>