<%= render "shared/header" %>
<div class="main">
  <%if @user.main_profile.present?%>
    <div class="profilecontents">
      <div class="profiles">
        <div class="userprofiles">
          <div class="userimage">
          <%if @main_profile.image.present?%>
          <%= image_tag @main_profile.image, class:"userimagecontent"%>
          <%else%>
          <%=image_tag "gal_o_man.png" ,class:"userimagecontent"%>
          <%end%>
          </div>
          <div class="username">
          <h1 class="usernamecontent"><%=@main_profile.name%></h1>
          </div>
          <div class="uesrexplanation">
          <p class="uesrexplanationcontent"><%=@main_profile.user_profile%></p>
          </div>
        </div>
        <div class="usermissions">
          <div class="usermission">
          <h1 class="usermissioncontent"><%= @main_profile.mission%></h1>
          </div>
          <div class="usermissionexplanation">
          <p class="usermissionexplanationcontent"><%= @main_profile.mission_ex %> </p>
          </div>
        </div>
      </div>
      <div class="SNSurls">
        <div class="URLs">
          <%if @main_profile.URL_facebook.present?%>
            <%= link_to "#{@main_profile.URL_facebook}" ,id:"URLfacebook" do %>
            <%=image_tag "icon_017870_256.png" ,class:"icon"%>
            facebook
            <%end%>
          <%else%>
            <a href="#" id="URLfacebook"><%=image_tag "icon_017870_256.png" ,class:"icon"%>facebook</a>
          <%end%>
        </div>
        <div class="URLs">
          <%if @main_profile.URL_twitter.present?%>
            <%= link_to "#{@main_profile.URL_twitter}" ,id:"URLtwitter" do %>
            <%=image_tag "icon_017890_256.png" ,class:"icon"%>
            twitter
            <%end%>
          <%else%>
            <a href="#" id="URLtwitter"><%=image_tag "icon_017890_256.png" ,class:"icon"%>twitter</a>
          <%end%>
        </div>
        <div class="URLs">
          <%if @main_profile.URL_instagram.present?%>
            <%= link_to "#{@main_profile.URL_instagram}" ,id:"URLinstagram" do %>
            <%=image_tag "icon_062470_256.png" ,class:"icon"%>
            instagram
            <%end%>
          <%else%>
          <a href="#" id="URLinstagram"><%=image_tag "icon_062470_256.png" ,class:"icon"%>instagram</a>
          <%end%>
        </div>
      </div>
    </div>
  <%else%>
    <div class="profilecontents">
      <div class="profiles">
        <div class="userprofiles">
          <div class="userimage">
          <%=image_tag "gal_o_man.png" ,class:"userimagecontent"%>
          </div>
          <div class="username">
          <h1 class="usernamecontent">名前を決めよう </h1>
          </div>
          <div class="uesrexplanation">
          <p class="uesrexplanationcontent">自分のプロフィールを書こう</p>
          </div>
        </div>
        <div class="usermissions">
          <div class="usermission">
          <h1 class="usermissioncontent">目標を決めよう</h1>
          </div>
          <div class="usermissionexplanation">
          <p class="usermissionexplanationcontent">目標の説明</p>
          </div>
        </div>
      </div>
      <div class="SNSurls">
        <div class="URLs">
            <a href="#" id="URLfacebook"><%=image_tag "icon_017870_256.png" ,class:"icon"%>facebook</a>
        </div>
        <div class="URLs">
            <a href="#" id="URLtwitter"><%=image_tag "icon_017890_256.png" ,class:"icon"%>twitter</a>
        </div>
        <div class="URLs">
          <a href="#" id="URLinstagram"><%=image_tag "icon_062470_256.png" ,class:"icon"%>instagram</a>
        </div>
      </div>
      <%= link_to "作成する", new_main_profile_path%>
    </div>
  <%end%>
  <div class="useritem">
    <h1 class="useritemtitle">支援要項</h1>
    <div class="useritemcontents">
    <% @item.each do |item|%>
      <%=link_to item_path(item.id) ,id:"useritemcontentURL" do %>
        <div class="useritemcontent">
          <div class="useritemcontentimage">
            <%=image_tag item.item_image ,class:"userimagecontent"%>
          </div>
          <h1 class="useritemcontenttitle"><%= item.item_name%></h1>
        </div>
      <%end%>
    <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>