<%= render "shared/header" %>
<div class="main">
  <div class="itemexplanations">
    <div class="itemimage">
      <%=image_tag @item.item_image, class:"itemimageshow"%>
    </div>
    <div class="itemexplanation">
      <div class="itemname">
        <h1><%= @item.name %></h1>
      </div>
      <div class="itemprice">
      <h1>「<span id="itemprice"><%=@item.price%></span>円」</h1>
      </div>
      <div class="priceclac">
      <form>
        <input type="text" class="priceclacform" id="itemcount">個（半角数字）
      </form>
        <h1><span id="calc-price">~~~~~</span>円</h1>
        </div>
    </div>
  </div>
  <%=form_with model: [@item,@sub_purchased_log], class:"form", id:"charge-form", local: true do |f|%>
    <h1 class="formmaintitle">情報記入</h1> 
    <div class="formcontens">
      <%= f.text_field :quantitiy, class:"formname",id:"itemquantitiy" %>
    </div>
    <div class="formcontens">
      <%= f.text_field :price, class:"formname", id:"item-price"%>
    </div>
        <%# カード情報の入力 %>
    <div class='formcontens'>
      <h1 class='info-input-haedline'>
        クレジットカード情報入力
      </h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">カード情報</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :card_number, class:"formname", id:"card-number", maxlength:"16" %>
        <div class='available-card'>
          <%= image_tag 'card-visa.gif', class: 'card-logo'%>
          <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
          <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
          <%= image_tag 'card-amex.gif', class: 'card-logo'%>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">有効期限</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-expiration-date-wrap'>
          <%= f.text_area :card_exp_month, class:"input-expiration-date", id:"card-exp-month" %>
          <p class="input-expiration-date-p">月</p>
          <%= f.text_area :card_exp_year, class:"input-expiration-date", id:"card-exp-year"%>
          <p class="input-expiration-date-p">年</p>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">セキュリティコード</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :card_cvc, class:"input-default", id:"card-cvc", maxlength:"4" %>
      </div>
    </div>
    <%# /カード情報の入力 %>

    <div class="formcontens">
      <h1 class='info-input-haedline'>
        お客様情報入力
      </h1>
      <p class="formtitle">お名前<span class="indispensable">*必須</span></p>
      <%= f.text_field :purchased_name, class:"formname" %>
    </div>
    <div class="formcontens">
      <p class="formtitle">郵便番号<span class="indispensable">*必須</span></p>
      <%= f.text_field :postal_code, class:"formname", maxlength:"20" %>
    </div>
    <div class="formcontens">
      <p class="formtitle">都道府県<span class="indispensable">*必須</span></p>
      <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box"}) %>
    </div>
    <div class="formcontens">
      <p class="formtitle">市町村<span class="indispensable">*必須</span></p>
      <%= f.text_field :city, class:"formname", maxlength:"20" %>
    </div>
    <div class="formcontens">
      <p class="formtitle">住所<span class="indispensable">*必須</span></p>
      <%= f.text_field :address, class:"formname", maxlength:"20" %>
    </div>
    <div class="formcontens">
      <p class="formtitle">どこで知りましたか？</p>
      <%= f.collection_select(:where_id, Where.all, :id, :name, {}, {class:"select-box"}) %>
    </div>
    <div class="formcontens">
      <%= f.submit "作成する" ,class:"submitbtn", id:"button"%>
    </div>
  <%end%>
</div>
<%= render "shared/footer" %>