<div class="header">
  <div class="title">
    <%= link_to "DREAM", root_path, class:"title-content" %>
  </div>
  <% if user_signed_in? %>
    <div class ="nenucontents">
    <%=image_tag "sozai_cman_jp_20210826135329.png", id:"menuicon"%>
    <ul class="menuber hidden" id="menuber">
      <li id="list1" class="lists"><%=link_to "マイページ", dream_path(current_user.id)%></li>
      <li id="list2" class="lists"><%=link_to "プロフィール編集", edit_main_profile_path(current_user.id)%></li>
      <li id="list3" class="lists"><%=link_to "支援要項追加", new_item_path%></li>
      <li id="list4" class="lists"><%=link_to "ログアウト", destroy_user_session_path, method: :delete %> </li>
    </ul>
    </div>
    <%else%>
    <div class="user-function">
      <div class="user-functions">
        <%=link_to "ログイン", new_user_session_path, class:"user-content" %> 
      </div>
      <div class="user-functions">
        <%=link_to "新規登録", new_user_registration_path, class:"user-content" %>
      </div>
    <%end%>
  </div>
</div>