<%= render "shared/header" %>
  <div class="main">
    <div class="itemexplanations">
      <div class="itemimage">
        <%=image_tag @item.item_image, class:"itemimageshow"%>
      </div>
      <div class="itemexplanation">
        <div class="itemname">
          <h1><%= @item.name %></h1>
        </div>
        <div class="itemprice">
        <h1>「<%=@item.price%>円」</h1>
        </div>
        <div class="itemexplanationshow">
          <p><%=@item.explanation%></p>
        </div>
      </div>
    </div>
    <%if @item.user_id == current_user.id%>
      <div class="purchsedbtn">
        <%=link_to "編集する",edit_item_path(@item.id),id:"purchsedbtn"%>
      </div>
    <%else%>
      <div class="purchsedbtn">
        <%=link_to "購入する",new_item_sub_purchased_log_path(@item.id),id:"purchsedbtn"%>
      </div>
    <%end%>
  </div>
<%= render "shared/footer" %>